# Cars Data Analysis

## Tasks
1. Instruction ( For Data Cleaning ) - Find all Null Values in the dataset. If there is any null value in any column, then fill it with the mean of that column.
2. Question ( Based on Value Counts )- Check what are the different types of Make are there in our dataset. And, what is the count (occurrence) of each Make in the data ?
3. Instruction ( Filtering ) - Show all the records where Origin is Asia or Europe.
4. Instruction ( Removing unwanted records ) - Remove all the records (rows) where Weight is above 4000.
5. Instruction ( Applying function on a column ) - Increase all the values of 'MPG_City' column by 3.

In [87]:
import pandas as pd
import os
from pathlib import Path
from collections import Counter

In [23]:
p = Path(os.getcwd())
p

WindowsPath('f:/admin/Documents/DataScience_Projects/Cars_DataAnalysis')

In [36]:
csv_car_dataset = str(p.parent.parent) + '\\DataScience_Projects\Cars_DataAnalysis\DataSet_Cars\\'
df_car = pd.read_csv(csv_car_dataset + 'Dataset_cars.csv')
df_car.head(10)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225.0,18.0,24.0,3893.0,115.0,197.0
6,Acura,NSX coupe 2dr manual S,Sports,Asia,Rear,"$89,765","$79,978",3.2,6.0,290.0,17.0,24.0,3153.0,100.0,174.0
7,Audi,A4 1.8T 4dr,Sedan,Europe,Front,"$25,940","$23,508",1.8,4.0,170.0,22.0,31.0,3252.0,104.0,179.0
8,Audi,A41.8T convertible 2dr,Sedan,Europe,Front,"$35,940","$32,506",1.8,4.0,170.0,23.0,30.0,3638.0,105.0,180.0
9,Audi,A4 3.0 4dr,Sedan,Europe,Front,"$31,840","$28,846",3.0,6.0,220.0,20.0,28.0,3462.0,104.0,179.0

In [39]:
df_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    object
 6   Invoice      428 non-null    object
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    float64
 10  MPG_City     428 non-null    float64
 11  MPG_Highway  428 non-null    float64
 12  Weight       428 non-null    float64
 13  Wheelbase    428 non-null    float64
 14  Length       428 non-null    float64
dtypes: float64(8), object(7)
memory usage: 50.8+ KB

### 1. Instruction ( For Data Cleaning ) - Find all Null Values in the dataset. If there is any null value in any column, then fill it with the mean of that column.

In [40]:
df_car.isnull()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
428,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
429,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
430,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
431,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [42]:
# We are going to use the isnum() and sum() to sum all true cases
df_car.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [44]:
# But we can only get the mean for datas that should be int or flot type: MSRP, Invoice, Engine Size, 
# Cylinders, Housepower, MPP_City, MPG_Highway, Weight, WeelBase and Length
df_car.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [48]:
# Firt let's do it for the collumns that are with the correct data type
df_car['EngineSize'].fillna(df_car['EngineSize'].mean(), inplace= True)

In [49]:
# Now Eginesize = 0, there isn't null values
df_car.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     0
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [50]:
# Let's do it for all int and float with null values
df_car['Cylinders'].fillna(df_car['Cylinders'].mean(), inplace= True)
df_car['Horsepower'].fillna(df_car['Horsepower'].mean(), inplace= True)
df_car['MPG_City'].fillna(df_car['MPG_City'].mean(), inplace= True)
df_car['MPG_Highway'].fillna(df_car['MPG_Highway'].mean(), inplace= True)
df_car['Weight'].fillna(df_car['Weight'].mean(), inplace= True)
df_car['Wheelbase'].fillna(df_car['Wheelbase'].mean(), inplace= True)
df_car['Length'].fillna(df_car['Length'].mean(), inplace= True)

In [51]:
df_car.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [58]:
# Converting MSRP and Invoice to float
df_car['MSRP'].describe()

count          428
unique         410
top       $33,995
freq             2
Name: MSRP, dtype: object

In [67]:
#MSRP
msrp = df_car['MSRP'].replace('[\$,)]','', regex=True).replace('[,]','', regex=True).astype(float)
df_car['MSRP'] = msrp
df_car['MSRP'].describe()

count       428.000000
mean      32774.855140
std       19431.716674
min       10280.000000
25%       20334.250000
50%       27635.000000
75%       39205.000000
max      192465.000000
Name: MSRP, dtype: float64

In [69]:
#Invoice
invoice = df_car['Invoice'].replace('[\$,)]','', regex=True).replace('[,]','', regex=True).astype(float)
df_car['Invoice'] = invoice
df_car['Invoice'].describe()

count       428.000000
mean      30014.700935
std       17642.117750
min        9875.000000
25%       18866.000000
50%       25294.500000
75%       35710.250000
max      173560.000000
Name: Invoice, dtype: float64

In [72]:
# Filling up null values with the means of each collumns: MSRP and Invoice
df_car['MSRP'].fillna(df_car['MSRP'].mean(), inplace=True)
df_car['Invoice'].fillna(df_car['Invoice'].mean(), inplace=True)

In [74]:
df_car.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

### 2. Question ( Based on Value Counts )- Check what are the different types of Make there are in our dataset. And, what is the count (occurrence) of each Make in the data ?

In [84]:
df_car['Make'].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Dodge            13
Mitsubishi       13
Volvo            12
Jaguar           12
Hyundai          12
Subaru           11
Pontiac          11
Mazda            11
Lexus            11
Kia              11
Buick             9
Mercury           9
Lincoln           9
Saturn            8
Cadillac          8
Suzuki            8
Infiniti          8
GMC               8
Acura             7
Porsche           7
Saab              7
Land Rover        3
Oldsmobile        3
Jeep              3
Scion             2
Isuzu             2
MINI              2
Hummer            1
Name: Make, dtype: int64

In [97]:
# Extra:
# I'm giving an information about how many itens names there are in this category, not only its frequency
qtd_names = df_car['Make'].value_counts().count().sum()
qtd_names

38

### 3. Instruction ( Filtering ) - Show all the records where Origin is Asia or Europe.

In [103]:
df_car[(df_car['Origin'] == 'Asia') | (df_car['Origin'] == 'Europe')]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945.0,33337.0,3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820.0,21761.0,2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,26990.0,24647.0,2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,33195.0,30299.0,3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755.0,39014.0,3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565.0,38203.0,2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565.0,40083.0,2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,45210.0,42573.0,2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,26135.0,24641.0,1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,35145.0,33112.0,2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

### 4. Instruction ( Removing unwanted records ) - Remove all the records (rows) where Weight is above 4000.

In [105]:
df_car[~(df_car['Weight'] > 4000)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820.0,21761.0,2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,26990.0,24647.0,2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,33195.0,30299.0,3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755.0,39014.0,3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,46100.0,41100.0,3.5,6.0,225.0,18.0,24.0,3893.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565.0,38203.0,2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565.0,40083.0,2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,45210.0,42573.0,2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,26135.0,24641.0,1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,35145.0,33112.0,2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

### 5. Instruction ( Applying function on a column ) - Increase all the values of 'MPG_City' column by 3.

In [108]:
df_car['MPG_City']

0      17.0
1      24.0
2      22.0
3      20.0
4      18.0
       ...
427    21.0
428    20.0
429    19.0
430    22.0
431    20.0
Name: MPG_City, Length: 432, dtype: float64

In [121]:
"""ArithmeticError
# I made a mistake here, I should make data + 3, but instead of this I did data * 3 
# and I should create a local variable to not touch in the df_car in case of a mistake
# or even just to see if it's right or not.
# In this case I have change the original dataframe and now I have a problem to come back the values.

Ok, lesson learnt!
Don't make changes in the original DF!
"""
df_car['MPG_City'] = (df_car['MPG_City'] / 3)
df_car['MPG_City']

0      1.888889
1      2.666667
2      2.444444
3      2.222222
4      2.000000
         ...
427    2.333333
428    2.222222
429    2.111111
430    2.444444
431    2.222222
Name: MPG_City, Length: 432, dtype: float64